
.mobile_menu {
  z-index: 1000;
  .inner {
    background-color: #455968;
  }
}

.menu-close {
  color: white;
  position: absolute;
  top: 4px;
  right: 32px;
  font-size: 40px;
  text-decoration: none;
  transition: color 250ms;
  &:hover {
    color: black;
  }
}

.mobile_menu .mod_customnav.block {
  width: 90%;
  margin: 100px auto;
  ul {
    li {
      padding: 14px 0;
      a,strong {
        color: white;
        text-transform: uppercase;
        font-size: 23px;
        text-decoration: none;
        transition: color 250ms;
      }
      &:not(:last-child) {
        border-bottom: 1px solid white;
        text-align: center;
      }
      &:last-child {
        text-align: center;
      }
      &.active strong {
        color:#dee3e89e;
      }
    }
  }
}